[Unit]
Description=CCDC Password Manager
After=network.target

[Service]
ExecStart=/opt/ccdc-password-manager-client/client
Type=exec
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target